<h3>ad-button-slide</h3>

<h4>With text-align:left (button edit with backgroundOver)</h4>
<div class="bar">

  <ad-button-slide icon="fas fa-trash" label="Delete this" background="#c3615f"></ad-button-slide>
  <ad-button-slide icon="fas fa-pencil-alt" label="Edit this" background="#5f82c3" backgroundOver="#5f82c399" foregroundOver="#333"></ad-button-slide>
  <ad-button-slide icon="fas fa-plus" label="Add this" background="#55c16c"></ad-button-slide>

</div>

<h4>With text-align:right (and mode mini)</h4>
<div class="bar" style="text-align:right;height:30px;">

  <ad-button-slide mini="1" icon="fas fa-trash" label="Delete this"></ad-button-slide>
  <ad-button-slide mini="1" icon="fas fa-pencil-alt" label="Edit this"></ad-button-slide>

</div>

<h4>With absolute alignment to right</h4>
<div class="bar" style="position:relative;">

  <div class="bar" style="position:absolute;right:0px;top:0px;">
    <ad-button-slide icon="fas fa-trash" label="Delete this"></ad-button-slide>
    <ad-button-slide icon="fas fa-pencil-alt" label="Edit this"></ad-button-slide>
  </div>

</div>

<h3>ad-button-switch</h3>

<h4>theme flip</h4>
<ad-button-switch [(ngModel)]="checkValue" id="flip1" style="display:block;width:110px;margin-bottom:10px;" iconOn="fas fa-check" labelOn="not received" iconOff="fas fa-times" labelOff="received"></ad-button-switch>
<h4>theme switch</h4>
<ad-button-switch [(ngModel)]="checkValue" id="switch1" theme="switch"></ad-button-switch>

<h4>test encapsulation</h4>
<ad-button-switch [(ngModel)]="checkValue2" theme="switch" id="switch2"></ad-button-switch>
<ad-button-switch [(ngModel)]="checkValue2" id="flip2" style="display:block;width:110px;margin-bottom:10px;" iconOn="fas fa-check" labelOn="not received" iconOff="fas fa-times" labelOff="received"></ad-button-switch>

<h3>ad-loading</h3>

<h4>usage</h4>
<p>Put ad-loading inside the component you want to see loading, don't forget to set the parent component as position:relative; (or use the class : loadable)</p>

<h4>example</h4>
<button class="btn-loading" (click)="loading = !loading">toggle loading (loading = {{ loading }})</button>
<br /><br />

<div class="loadable example-panel-form">
  my form<br />
  <input type="text" /><br />
  <input type="text" /><br />
  <input type="text" /><br />
  <input type="submit" />
  <ad-loading [loading]="loading"></ad-loading>
</div>

<h3>ad-select</h3>

<ad-select [values]="select2Values" [(ngModel)]="select2Selected" id="mySelect"></ad-select>
<span>selected : {{ select2Selected.text }}</span>

<h3>ad-tabs</h3>
<div style="position: relative;background: #efefef;padding: 20px;border-radius: 10px;">
  <ad-tabs>
    <ad-tab-panel icon="fas fa-user" label="tab 1" [withStyle]="true">
      Panel tab 1 (with default style)
    </ad-tab-panel>
    <ad-tab-panel icon="fas fa-home" label="tab 2">
      <div class="custom-tab-panel">Panel tab 2 (with custom css style)</div>
    </ad-tab-panel>
    <ad-tab-panel icon="fas fa-key" label="tab 3">
      <div class="custom-tab-panel2">Panel tab 3</div>
    </ad-tab-panel>
    <ad-tab-panel icon="fas fa-key" label="tab 4 disabled" [disabled]="true">
      Panel tab 4
    </ad-tab-panel>
  </ad-tabs>
</div>

<h3>ad-tabs with custom theme</h3>
<div style="position: relative;">
  <ad-tabs styleClass="custom-tabs">
    <ad-tab-panel icon="fas fa-user" label="tab 1">
      Panel tab 1
    </ad-tab-panel>
    <ad-tab-panel icon="fas fa-home" label="tab 2">
      Panel tab 2
    </ad-tab-panel>
    <ad-tab-panel icon="fas fa-key" label="tab 3">
      Panel tab 3
    </ad-tab-panel>
    <ad-tab-panel icon="fas fa-key" label="tab 4 disabled" [disabled]="true">
      Panel tab 4
    </ad-tab-panel>
  </ad-tabs>
</div>

